<?xml version="1.0" encoding="UTF-8"?>
<phpunit >
   <coverage>
   <include>
			<directory suffix=".php">../../src</directory>
		</include>
</coverage> 
    <testsuites>
         <testsuite name="Feature">
            <directory suffix="Test.php">.</directory>
          </testsuite>
    </testsuites>
   <logging/>
   
</phpunit>








